## Выгрузка данных из БД в пайтон с помощью SQL (psycopg2)

In [30]:
!pip install psycopg2-binary; # для подключения pstgSQL

Requirement already satisfied: psycopg2-binary in /Users/irinanechetnaya/anaconda3/lib/python3.11/site-packages (2.9.10)

In [9]:
import psycopg2

In [2]:

# подключение к БД
connection = psycopg2.connect(
database='',
host='',
user='',
password=''
#port=5432 default
)

# объект для взаимодействия с БД
cursor = connection.cursor()

# запрос в БД
cursor.execute("""
    SELECT * 
    FROM cd.booking -- cd = shcema
    LIMIT 10
    """)

# объект с результатом
result = cursor.fetchall()
result = cursor.fetchone()

# закрытие
cursor.close()
connection.close()

In [ ]:
# закрывает курсос в конце блока (в том чсиле в случае ошибки)
conn = psycopg2.connect('postgresql://user:password@host:port/hexlet_test')
sql = "INSERT INTO users (username, phone) VALUES ('tommy', '123456789');"
with conn:
    with conn.cursor() as curs:
        curs.execute(sql)

conn.close() # закрываем соединение

## SQL in Pandas

In [3]:
import pandas as pd

In [ ]:
#read

# connection
conn_uri = psycopg2.connect('postgresql://name:password@host(:port)/db')

#requst
df = pd.read_sql("""
    SELECT * 
    FROM cd.booking -- cd = sheme
    LIMIT 10
    """,
    conn_uri,
    # not requrmental for parsing dates
    parse_dates=['starttime']
)

In [ ]:
#write

df.to_sql(
    'new table',
    conn_uri,
    schema='cd'
    #if_exist='replace'/ 'append'/ 'fail'
)

## SQLAlchemy

https://habr.com/ru/articles/848592/

In [17]:
!pip install sqlalchemy psycopg2

Collecting sqlalchemy
  Obtaining dependency information for sqlalchemy from https://files.pythonhosted.org/packages/4c/f5/8cce9196434014a24cc65f6c68faa9a887080932361ee285986c0a35892d/SQLAlchemy-2.0.37-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Downloading SQLAlchemy-2.0.37-cp311-cp311-macosx_11_0_arm64.whl.metadata (9.6 kB)
Collecting psycopg2
  Downloading psycopg2-2.9.10.tar.gz (385 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 385.7/385.7 kB 5.1 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/irinanechetnaya/anaconda3/lib/python3.11/site-packages (from sqlalchemy) (4.9.0)
Downloading SQLAlchemy-2.0.37-cp311-cp311-macosx_11_0_arm64.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 25.5 MB/s eta 0:00:0000:0100:01
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.10-cp311-cp311-macosx_11_0_arm64.whl size=132376 sha256=89695f970630ddaf02c17c48f4a2c17e2debdae570d2cea79c78633a66eeb389
  Stored in directory: /Users/irinanechetnaya/Library/Caches/pip/wheels/d9/83/60/e9660320860aef3c38a67dea6ff9538e4cad76502cb39ed280
Successfully built psycopg2
Installing collected packages: sqlalchemy, psycopg2
Successfully installed psycopg2-2.9.10 sqlalchemy-2.0.37

In [19]:
from sqlalchemy import create_engine


conn_uri = 'postgresql://name:password@host(:port)/db'
engine = create_engine(conn_uri)

In [22]:
df = pd.read_sql(
    """SELECT * FROM "user" LIMIT 3""",
    engine
)
df.head()

    id  gender  age country       city  exp_group       os source
0  200       1   34  Russia  Degtyarsk          3  Android    ads
1  201       0   37  Russia     Abakan          0  Android    ads
2  202       1   17  Russia   Smolensk          4  Android    ads

In [29]:
df = pd.read_sql(
    """
    SELECT id, city
    FROM "user"
    WHERE age > 30 and os = 'iOS'
    """,
    engine
)
df.head(10)

    id              city
0  212           Podolsk
1  222         Ulyanovsk
2  224     Yekaterinburg
3  226            Moscow
4  243         Ekibastuz
5  247  Saint Petersburg
6  255  Saint Petersburg
7  256           Shakhty
8  258              Baku
9  267        Pyatigorsk

## Data Access Object

In [ ]:
#для сущности user 

# models.py
from dataclasses import dataclass
from typing import Optional

# так как класс нам нужен лишь для хранения данных, то используем датакласс
@dataclass
class User:
    username: str
    phone: str
    id: Optional[int] = None


# db.py
import psycopg2
from psycopg2.extras import DictCursor

def get_connection():
    return psycopg2.connect(
        dbname="your_database",
        user="your_username",
        password="your_password",
        host="your_host",
        cursor_factory=DictCursor
    )


def commit(conn):
    conn.commit()

def save_user(conn, user):
    with conn.cursor() as cur:
        if user.id is None:
            cur.execute(
                "INSERT INTO users (username, phone) VALUES (%s, %s) RETURNING id;",
                (user.username, user.phone)
            )
            user.id = cur.fetchone()['id']
        else:
            cur.execute(
                "UPDATE users SET username = %s, phone = %s WHERE id = %s;",
                (user.username, user.phone, user.id)
            )
    return user


def find_user(conn, user_id):
    with conn.cursor() as cur:
        cur.execute("SELECT * FROM users WHERE id = %s;", (user_id,))
        result = cur.fetchone()
        if result:
            return User(**result)
    return None;

In [ ]:
# пример использования:

from models import User
import db

conn = db.get_connection()


user = User(username="John Doe", phone="1234567890")
user.id # None

new_user = db.save_user(conn, user)
# делаем коммит после каждого изменения
db.commit(conn)
new_user.id # тут уже выводится какой-то id

found_user = db.find_user(conn, 42)
db.commit(conn)
found_user # здесь выводится найденный user

# закрываем соединение
conn.close();

In [ ]:
from dataclasses import dataclass
from typing import Optional


@dataclass
class Course:
    name: str
    description: str
    id: Optional[int] = None


@dataclass
class Lesson:
    name: str
    text: str
    course_id: int
    id: Optional[int] = None;

In [ ]:
from models import Course, Lesson
import psycopg2
from psycopg2.extras import NamedTupleCursor

conn = psycopg2.connect('postgresql://name:password@host(:port)/db')


def commit(conn):
    conn.commit()


def save_course(conn, course):
    with conn.cursor(cursor_factory=NamedTupleCursor) as cur:
        if course.id is None:
            cur.execute(
                "INSERT INTO courses (name, description) VALUES (%s, %s) RETURNING id;",
                (course.name, course.description)
            )
            course.id = cur.fetchone().id
        else:
            cur.execute(
                "UPDATE courses SET name = %s, description = %s WHERE id = %s;",
                (course.name, course.description, course.id)
            )
    return course.id


def find_course(conn, course_id):
    with conn.cursor(cursor_factory=NamedTupleCursor) as cur:
        cur.execute("SELECT id, name, description FROM courses WHERE id = %s;", (course_id,))
        result = cur.fetchone()
        if result:
            return Course(
                id=result.id,
                name=result.name,
                description=result.description
                )
    return None


def get_all_courses(conn):
    with conn.cursor(cursor_factory=NamedTupleCursor) as cur:
        cur.execute("SELECT id, name, description FROM courses;")
        return [
            Course(id=row.id, name=row.name, description=row.description)
            for row in cur.fetchall()
        ]


def save_lesson(conn, lesson):
    with conn.cursor(cursor_factory=NamedTupleCursor) as cur:
        if lesson.id is None:
            cur.execute(
                "INSERT INTO lessons (name, text, course_id) VALUES (%s, %s, %s) RETURNING id;",
                (lesson.name, lesson.text, lesson.course_id)
            )
            lesson.id = cur.fetchone().id
        else:
            cur.execute(
                "UPDATE lessons SET name = %s, text = %s, course_id = %s WHERE id = %s;",
                (lesson.name, lesson.text, lesson.course_id, lesson.id)
            )
    return lesson.id


def find_lesson(conn, lesson_id):
    with conn.cursor(cursor_factory=NamedTupleCursor) as cur:
        cur.execute("SELECT * FROM lessons WHERE id = %s;", (lesson_id,))
        result = cur.fetchone()
        if result:
            return Lesson(
                id=result.id,
                name=result.name,
                text=result.text,
                course_id = result.course_id
                )
    return None


def get_course_lessons(conn, course_id):
    with conn.cursor(cursor_factory=NamedTupleCursor) as cur:
        cur.execute("SELECT * FROM lessons WHERE course_id = %s ORDER BY id;",
        (course_id,))
        return [
            Lesson(id=row.id, name=row.name, text=row.text, course_id=row.course_id)
            for row in cur.fetchall()
        ];